
Library
Logs
Packages
/Temp
Assets/Excel
Assets/Story.meta
Assets/Story
Assets/DocsSrc
Assets/DocsSrc.meta
UserSettings
.vs/Project_Chaos
obj/Debug
Assets/Chaos_Story
Assets/Chaos_Story.meta
Assets/Screenshots
Assets/Screenshots.meta
Assets/_ArtStaging2
